button.button-inline {
    float: right;
    position: relative;
    border-style: none;
    padding: 1%;
    background-color: #252525;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    cursor: ne-resize;
}

button.button-left-inline {
    float: left;
    position: relative;
    border-style: none;
    padding: 1%;
    background-color: #252525;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}

button.greyed {
    background-color:#8080807a;
}
