.comment p {
    background-color: #29a19c;
    padding: 2%;
    border-radius: 13px;
    text-align: initial;
    color: white;
    font-size: .8rem;
}

.comment {
    text-align: left;
    border-top: 1px solid #2525252b;
    margin-top: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
}

.comment h4 {
    font-size: .8rem;
}

.comment h5 {
    font-size: .5rem;
    margin-top: -.7rem;
    margin-left: 1%;
}